In [1]:
# Las Tuplas son colecciones de datos ordenadas e inmutables
#Se puede pensar en ellas como listas inmutables. Se definen con paréntesis
miTupla = (1, 2, True, "una cadena", (3, 4), [5, 6], None)
print(miTupla)

miLista = [1, 2, True, "una cadena", (3, 4), [5, 6], None]
print(miLista)

(1, 2, True, 'una cadena', (3, 4), [5, 6], None)
[1, 2, True, 'una cadena', (3, 4), [5, 6], None]

In [2]:
#Cada elemento de la tupla puede ser de un tipo de dato diferente (por ejemplo, enteros, cadenas, boleanos, etc.).
#Las tuplas pueden contener otras tuplas o listas (y viceversa).
# tupla vacia
tuplaVacia = ()
print(type(tuplaVacia))    # salida: <class 'tuple'>

<class 'tuple'>

In [4]:
 # tupla de un solo elemento se define de la siguiente manera:

tuplaUnElemento = ("uno", )    # paréntesis y coma
tuplaUnElemento2 = "uno",     # sin paréntesis, solo la coma
print(type(tuplaUnElemento)) 
print(type(tuplaUnElemento2))

<class 'tuple'>
<class 'tuple'>

In [5]:
# Si se elimina la coma, Python creará una variable no una tupla
miTup1 = 1, 
print(type(miTup1))    # salida: <class 'tuple'>

miTup2 = 1
print(type(miTup2))    # salida: <class 'int'>

<class 'tuple'>
<class 'int'>

In [6]:
# Se pueden acceder los elementos de la tupla al indexarlos

miTupla = (1, 2.0, "cadena", [3, 4], (5, ), True)
print(miTupla[3])    # salida: [3, 4]

[3, 4]

In [7]:
# Las tuplas son inmutables, lo que significa que no se puede agregar, modificar, cambiar o quitar elementos.

miTupla = (1, 2.0, "cadena", [3, 4], (5, ), True)
miTupla[2] = "guitarra"    # se levanta una excepción TypeError

TypeError: 'tuple' object does not support item assignment

In [8]:
# se elimina la tupla completa 
miTupla = 1, 2, 3, 
del miTupla
print(miTupla)    # NameError: name 'miTupla' is not defined

NameError: name 'miTupla' is not defined

In [9]:
# navegar a través de los elementos de una tupla con un bucle
# Ejemplo 1
t1 = (1, 2, 3)
for elem in t1:
    print(elem)

1
2
3

In [10]:
# verificar si un elemento o no esta presente en la tupla 
# Ejemplo 2
t2 = (1, 2, 3, 4)
print(5 in t2)
print(5 not in t2)

False
True

In [11]:
# emplear la función len() para verificar cuantos elementos existen en la tupla
# Ejemplo 3
t3 = (1, 2, 3, 5)
print(len(t3))

4

In [12]:
# unir o multiplicar tuplas
# Ejemplo 4
t4 = t1 + t2
t5 = t3 * 2

print(t4)
print(t5)

(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

In [13]:
# También se puede crear una tupla utilizando la función integrada de Python tuple(). 
miTup = tuple((1, 2, "cadena"))
print(miTup)

lst = [2, 4, 6]
print(lst)    # salida: [2, 4, 6]
print(type(lst))    # salida: <class 'list'>
tup = tuple(lst)
print(tup)    # outputs: (2, 4, 6)
print(type(tup))    # salida: <class 'tuple'>

(1, 2, 'cadena')
[2, 4, 6]
<class 'list'>
(2, 4, 6)
<class 'tuple'>

In [14]:
# cuando se desea convertir un iterable en una liste, se puede emplear la función integrada de Python denominada list()
tup = 1, 2, 3, 
lst = list(tup)
print(type(lst))    # outputs: <class 'list'>

<class 'list'>