## UNIDAD 3
### Rocío Juárez Medrano
### ING. TICS

#### Funciones

In [1]:
def mi_funcion_hola():
    print("Hola mundo, desde mi función")

In [2]:
mi_funcion_hola()

Hola mundo, desde mi función

In [3]:
# Tabla de multiplicar del 2
for z in range(1,11):
        print(2, "x", z, "=", 2 * z)

#Tabla de multiplicar del 3
for z in range(1,11):
        print(3, "x", z, "=", 3 * z)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [7]:
# Funcion más apropiada
def tablas_multiplicar(x):
    for z in range(1,11):
        print(x, "x", z, "=", x * z)

In [8]:
tablas_multiplicar(3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [9]:
tablas_multiplicar(15)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [13]:
def calcularDoble(y):
    y = y * 2
    return y

In [15]:
x = calcularDoble(6)
print(x)

12